{% extends "core/site-general.html" %}
{% load static %}

{% block title %}Account Details: {{ user.username }}{% endblock %}
{% block css-list %}
	<link href={% static 'char-card.css' %} rel=stylesheet title=Default />
	<link href={% static 'account-detail-default.css' %} rel=stylesheet title=Default />
{% endblock %}

{% block actions %}
	<a href={% url 'core.characters:manage'%}>Manage my characters</a>
{% endblock %}

{% block main-content %}
<h2 id=user>{{ user.username }}</h2>
<p id=SP>{{ account.supporter_points }} SP</p>

{% if user.email %}
	<a id=email href="mailto:{{ user.email }}">{{ user.email }}</a>
{% else %}
	<p id=email>No email address registered.</p>
{% endif %}

<p>Joined: {{ user.date_joined }}</p>
<p>Last on: {{ user.last_login }}</p>

<div id=characters>
{% for character in user.characters.all %}
<a href={% url 'core.characters:char-detail' character.name %} class=card>
	{% include 'characters/char-card.html' %}
</a>
{% empty %}
<p>Account has no characters.</p>
{% endfor %}
</div>

{% for plug in plugins %}
	{% include plug.template %}
{% endfor %}
{% endblock %}
