div.char-card{
	position: relative;
	--lineheight: 30px;
	--shift: 3px;
	--imagesize: 150px;
	width: 425px;
	height: 210px;
	background: hsl(37, 28%, 63%);
	border: solid 2px black;
	border-radius: 10px;
}

div.data *, div.captions * {
	position: absolute;
	height: var(--lineheight);
	line-height: 3em;
	padding-left:5px;
	left: calc(var(--imagesize) + 1px);
	font-family: monospace;
	font-size: 12px;
}

div.captions * {
	width: 60px;
	line-height: unset;
	font-size: 10px;
	text-align: left;
}

div.char-card img {
	background:gray;
	position: absolute;
	top: 3px;
	left: 3px;
	height:	var(--imagesize);
	width:	var(--imagesize);
}

/* Description line */
div.short {
	position: absolute;
	padding:	3px;
	bottom:		0px;
	height:		calc(4em * 1.2);
	left:		0px;
	font-family: monospace;
	font-size:	11px;
}

/* Left hand lines */
div.title	{top: calc(var(--lineheight) * 0 + var(--shift));}
div.name	{top: calc(var(--lineheight) * 1 + var(--shift));}
div.race	{top: calc(var(--lineheight) * 2 + var(--shift));}
div.sex		{top: calc(var(--lineheight) * 3 + var(--shift));}

/* Right hand lines */
div.height, div.age, div.joined, div.nativeof {
	text-align: right;
	left: unset;
	right: 5px;
}
div.nativeof{top: calc(var(--lineheight) * 0 + var(--shift));}
div.height	{top: calc(var(--lineheight) * 1 + var(--shift));}
div.age		{top: calc(var(--lineheight) * 2 + var(--shift));}
div.joined	{top: calc(var(--lineheight) * 3 + var(--shift));}
