<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}RPSite Page{% endblock %}</title>
		{% block css-list %}{% endblock %}
	</head>
	<body>
		<header>{% if user.is_authenticated %}
			<a href={% url 'pages:logout' %}>Log out</a>
		{% endif %}</header>
		<section id=content>
			<nav id=actions>{% block actions %}{% endblock %}</nav>
			<main>{% block main-content %}{% endblock %}</main>
			<aside id=char-data>{% block char-data %}{% endblock %}</aside>
		</section>
		<footer></footer>
	</body>
</html>
