<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}RPSite Page{% endblock %}</title>
		{% block css-list %}{% endblock %}
	</head>
	<body>
		<header>{% if user.is_authenticated %}
			<nav id=headerlinks>
				<a href={% url 'core.accounts:account' %}><span>My Account</span></a>
				<a href={% url 'core.pages:logout' %}><span>Log out</span></a>
			</nav>
		{% endif %}</header>
		<section id=content>
			<nav id=actions>{% block actions %}
				{% if actions %}{% for section in actions %}
					<p>{{ section.title }}</p>
					{% for link in section.links %}
						<a href={% url link.0 %}><span>{{ link.1 }}</span></a>
					{% endfor %}
				{% endfor %}{% endif %}
			{% endblock %}</nav>
			<main>{% block main-content %}{% lorem 10 p %}{% endblock %}</main>
			<aside id=char-data>{% block char-data %}{% endblock %}</aside>
		</section>
		<footer>All images in use on this site are placeholders and potentially under copyright. No claims on them are made.</footer>
	</body>
</html>
