{% if css %}
{% load static %}
<link href={% static 'char-card.css' %} rel=stylesheet title=Default />
{% endif %}
<div class="char-card {{ character.name|slugify }}">
	<img src="{{ character.avatar.url }}" style='object-fit: contain;'
	height=200 width=200 alt='Avatar for {{ character.name }}'/>
	<dl>
		<dt class=id {% if noCaptions %}hidden{% endif %}>ID</dt>
		<dd class=id>{{ character.id|stringformat:"07d" }}</dd>
		<dt class=title hidden>Title</dt>
		<dd class=title hidden>{%block title %}{% endblock %}</dd>
		<dt class=name {% if noCaptions %}hidden{% endif %}>Name</dt>
		<dd class=name>{% block name %}???{% endblock %}</dd>
		<dt class=race {% if noCaptions %}hidden{% endif %}>Race</dt>
		<dd class=race>{% block race %}???{% endblock %}</dd>
		<dt class=sex {% if noCaptions %}hidden{% endif %}>Sex</dt>
		<dd class=sex>{% block sex %}None{% endblock %}</dd>
		<dt class=nativeof {% if noCaptions %}hidden{% endif %}>Registered In</dt>
		<dd class=nativeof>{% block nativeof %}PLACE{% endblock %}</dd>
		<dt class=height {% if noCaptions %}hidden{% endif %}>Height</dt>
		<dd class=height>{% block height %}1234{% endblock %} cm</dd>
		<dt class=age {% if noCaptions %}hidden{% endif %}>Age</dt>
		<dd class=age>{% block age %}12{% endblock %} years</dd>
		<dt class=joined {% if noCaptions %}hidden{% endif %}>Issue date</dt>
		<dd class=joined>{% block joined %}1234-56-78{% endblock %}</dd>
	</dl>
	<div class=short>Notes: {{ character.shortDesc }}</div>
</div>
